.navbar-brand img {
  height: 60px;
}
.slider_img {
  width: 1920px;
  height: 900px;
}

.card {
  width: 500px;
  height: 350px;
}

.card-img {
  width: 100px;
  height: 200px;
}

.card-img2 {
  width: 350px;
  height: 200px;
}

.minigames {
  height: 275px;
}

.combos {
  height: 400px;
}

body {
  background-image: url("/static/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
