.navbar-brand img {
  height: 60px;
}
.slider_img {
  width: 1920px;
  height: 900px;
}

.card {
  width: 500px;
  height: 300px;
}

.card-img {
  width: 275px;
  height: 200px;
  align: center;
}

.card-img2 {
  width: 500px;
  height: 200px;
}
