{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="color:white; text-align: center">Golden Cookie Combos Guide</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p style="color:white; font-size: 20px">
        A Golden Cookie is an interactible that appears sometimes. When the
        player clicks on the cookie they gain a power up.
      </p>
    </div>
      <div class="col-md-6">
      <img src="static/images/combo1.png" class="combos" />
      </div>
      <div class="col-md-6">
        <br />
      <p style="color:white; font-size: 20px">
        A Golden Cookie Combo is when multiple golden cookies provide effects in
        tandem, and multiply the player's cookie count.
        <br /><br />
        Common early game combonations are 
        <ul>
          <li style="color:white; ">Frenzy + Click Frenzy (Giving 5439x
          the regular click power)
          <li style="color:white; ">Frenzy + Any Building Boost (Giving 7x the amount of the building times 100)
        </ul>
      </p>
    </div>
  </div>
</div>

{% endblock %}
