{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style="color:white; text-align: center">Contact Us</h1>
    </div>
  </div>
</div>
<br></br>
<div class="container">
  <div class="row">
      <div class="col-md-6">
        <ol>
          <li style="color:white; font-size: 25px">Phone: 929234982492</li>
          <li style="color:white; font-size: 25px">Email: skfhskjf@ffgjfjfg.com.com</li>
          <li style="color:white; font-size: 25px">Address: Østre Stationsvej 6, 5000 Odense, Denmark</li>
        </ol>
        </div>
      <div class="col-md-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412.2296634606667!2d10.388193290363729!3d55.40096771234239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464cdf00b51356bf%3A0x662a885b523aeedd!2sHafla%20Burgers%20%26%20Shakes!5e0!3m2!1sen!2sau!4v1748828804194!5m2!1sen!2sau"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
  </div>
</div>

{% endblock %}
