{%extends 'layout.html' %} {% block content %} {%include'partials/slider.html'%}

<p>Image credit: Steam Community, Steam, Softonic</p>

<div class="card" style="width: ">
  <img src="static/images/cardimg1.png" class="card-img" alt=" " />
  <div class="card-body">
    <h5 class="card-title">Cookie clicker</h5>
    <p class="card-text">yap yap yappity yap</p>
  </div>
</div>

<div class="card" style="width: ">
  <img src="static/images/cardimg2.png" class="card-img" alt=" " />
  <div class="card-body">
    <h5 class="card-title">Cookie clicker</h5>
    <p class="card-text">yap yap yappity yap</p>
  </div>
</div>

<div class="card" style="width: ">
  <img src="static/images/cardimg3.png" class="card-img2" alt=" " />
  <div class="card-body">
    <h5 class="card-title">Cookie clicker</h5>
    <p class="card-text">yap yap yappity yap</p>
  </div>
</div>

{% endblock %}
