{%extends 'layout.html' %} {% block content %} {%include'partials/slider.html'%}

<p>Image credit: Steam Community, Cookie Clicker Wiki, Fe4RLessV2</p>

<div class="card">
  <img src="static/images/cardimg1.png" class="card-img" alt=" " />
  <div class="card-body">
    <h5 class="card-title">Golden Cookie Combos</h5>
    <p class="card-text">How to use golden cookies together</p>
  </div>
</div>

<div class="card">
  <img src="static/images/cardimg2.png" class="card-img" alt=" " />
  <div class="card-body">
    <h5 class="card-title">Best Krumblor Abilites</h5>
    <p class="card-text">How to train your cookie dragon</p>
  </div>
</div>

<div class="card">
  <img src="static/images/cardimg3.png" class="card-img2" alt=" " />
  <div class="card-body">
    <h5 class="card-title">Minigame Guide</h5>
    <p class="card-text">yap yap yappity yap</p>
  </div>
</div>

{% endblock %}
