{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="color: white; text-align: center">Krumblor Training Guide</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p style="color: white; font-size: 20px">
        Krumblor is a Cookie Dragon unlocked in the ascension tree who you can
        use to unlock abilities. There is 21 ablities in total but you can only
        use 1 until you get the 10th, then you can use 2.
      </p>
      <br></br>
      <p style="color: white; font-size: 20px">
        Krumblor er smákökudreki sem er opnaður í uppstigningartrénu
        sem þú getur notað til að opna hæfileika. 
        Það eru 21 hæfileikar samtals en þú getur aðeins notað
        einn þar til þú færð þann tíunda, þá geturðu notað tvo. 
      </p>
    </div>
    <div class="col-md-6">
      <img src="static/images/krumblor.webp">
    </div>
  </div>
</div>

{% endblock %}
