{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="color: white; text-align: center">Krumblor Training Guide</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p style="color: white; font-size: 20px">
        Krumblor is a Cookie Dragon unlocked in the ascension tree who you can  
        use to unlock passive abilities called auras. There is 21 in total but you can only
        use 1 until you get the 10th, then you can use 2.
      </p>
      <br></br>
      <p style="color: white; font-size: 20px">
        To unlock Krumblor's auras you have to sacrifice 100 of the building the aura is related to.
        Bērniem to ir viegli plānot, un tincidunt ir viegli salikt. Man ir grūti domāt par to muļķīgo Aizeku.
      </p>
    </div>
    <div class="col-md-6">
      <img src="static/images/krumblor.webp">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="font: size 30px; ; color: white; text-align: center">Here are the Top Three Auras.</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li style="color: white; font-size: 20px">Dragonflight - Makes it possible for a golden cookie to give the dragonflight effect, boosting click power by 1111x.</li>
        <li style="color: white; font-size: 20px">Breath of Milk - Boosts cookie production based of how much milk you have.</li>
        <li style="color: white; font-size: 20px">Radiant Appetite - Doubles cookie production.</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
