{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center">Late Game Guide</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        aliquam felis lobortis, faucibus ante vitae, efficitur lacus. Interdum
        et malesuada fames ac ante ipsum primis in faucibus. Curabitur interdum
        vitae magna vitae euismod. Aliquam pellentesque iaculis arcu, id
        pharetra eros porta ac. Donec consectetur est ut eleifend iaculis. Proin
        vestibulum suscipit justo quis feugiat. Praesent in egestas neque. Sed
        nec venenatis ligula. Proin lacinia elementum velit eu posuere. Donec
        blandit, arcu consequat laoreet egestas, elit felis tincidunt metus, ut
        volutpat mauris ligula vitae leo. Vivamus ultrices pellentesque ex, non
        commodo ipsum eleifend vitae. Pellentesque tincidunt, nisl vitae
        efficitur feugiat, metus neque feugiat dui, eget aliquam lacus purus
        eget risus. Nullam congue ultricies urna non vestibulum. Vestibulum sit
        amet diam et dolor ultricies volutpat. Phasellus erat elit, imperdiet
        nec libero ac, hendrerit tincidunt lacus. Quisque eget lectus sapien.
        Nunc eu ipsum egestas enim scelerisque volutpat. Morbi pharetra dolor id
        velit viverra, eget condimentum odio tempor. Pellentesque lobortis
        dictum nunc, eu mollis odio accumsan a. Etiam tincidunt magna non leo
        egestas, eu sagittis lacus volutpat. In mi diam, faucibus quis magna ac,
        ornare dapibus risus. Duis id fermentum tellus.
      </p>
    </div>
  </div>
</div>

{% endblock %}
