{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center">Minigames Guide</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p style="text-align: center">
        In Cookie Clicker there are 4 different minigames
      </p>
      <ol>
        <li style="font-size: 35px">The Garden</li>
        <img src="/static/images/cardimg3.png" class="minigames" />
        <br /><br />
        <li style="font-size: 35px">The Stock Market</li>
        <img src="/static/images/minigameimg2.webp" class="minigames" />
        <br /><br />
        <li style="font-size: 35px">The Pantheon</li>
        <img src="/static/images/minigameimg3.webp" class="minigames" />
        <br /><br />
        <li style="font-size: 35px">The Grimoire</li>
        <img src="/static/images/minigameimg4.webp" class="minigames" />
      </ol>
    </div>
  </div>
</div>

{% endblock %}
