{%extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="text-align: center">Minigames Guide</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p style="text-align: center">
        In Cookie Clicker there are 4 different minigames
      </p>
      <ol>
        <li>The Garden</li>
        <li>The Stock Market</li>
        <li>The Pantheon</li>
        <li>The idk wizard tower thing</li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}
